/*google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*  base css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ................................................. */

/* container */
.container {
  margin: 2rem 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: red; */
}

.images__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 0.5rem;
}

.images__container img {
  width: 100%;
}

.heading {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.attribution {
  margin-top: -0.75rem;
  color: #555;
}

.attribution a {
  color: #222;
  font-weight: 600;
}

/* responsiveness for medium devices */

@media screen and (max-width: 1100px) {
  .container {
    margin: 2rem 20%;
  }

  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 2rem 10%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 2rem;
  }
}
